<div class="main-container">
  <div class="central-container">
    <div class="my-image">
      <img class="photo" src="assets/images/me.jpg" alt="me"/>
      <img class="aws-cloud-practitioner" src="assets/images/aws-cloud-practitioner.png" alt="aws-cloud-practitioner"/>
    </div>
    <div class="my-name">Arkadiusz Gawrysiuk</div>
    <div class="my-description">A Full-Stack Java Developer</div>
    <div class="button-row">
      <a class="main-button">
        COMING SOON
      </a>
    </div>
  </div>
</div>
