@import "src/assets/styles/colors";

@mixin small {
  @media (max-width: 666px) {
    @content
  }
}

.main-container {
  display: flex;
  justify-content: center;
  height: 100vh;

  div {
    margin-bottom: 60px;
  }
}

.my-image {
  position: relative;
  margin-top: 60px;

  .image-wrapper {
    position: relative;
    --image-size: 320px;
    margin-left: calc(50% - (var(--image-size) / 2));
    transition: all .4s linear;

    .photo {
      border: 2px solid #{$chrome-yellow};
      width: var(--image-size);
      border-radius: 50%;
    }

    .aws-cloud-practitioner {
      display: block;
      position: absolute;
      left: 50%;
      top: 60%;
      width: 100px;
      z-index: 1;
      transition: all .4s linear;

      @include small {
        left: 75%;
      }
    }
  }

  .bubble {
    position: absolute;
    top: 0;
    left: 65%;
    width: 100px;
    height: 50px;
    background-color: #fff;
    color: #000;
    padding: 15px 25px;
    cursor: pointer;
    border: 2px #{$chrome-yellow} solid;
    border-radius: 15px;
    transition: all .4s linear;

    @include small {
      display: none;
    }

    .bubble-bullets {
      position: relative;
      font-size: 80px;

      $n: 3;
      @for $i from 1 through $n {
        span:nth-child(#{$i}) {
          position: absolute;
          color: #{$chrome-yellow};
          left: 30px * (-0.8 + $i);
          top: -15px;
          animation: moveBullet 1s infinite;
          animation-delay: (1s / 5) * $i;
        }
      }

      @keyframes moveBullet {
        25% {
          transform: translateY(-15px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }
}


.my-name {
  background: #{$white};
  position: relative;
  letter-spacing: .25em;
  font-size: 2em;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  padding: 2em;

  @include small {
    margin-bottom: 3em;
    padding: 1em;
    font-size: 1em;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -5px;
    z-index: -1;
    background: linear-gradient(60deg, #{$chrome-yellow}, #{$orange-red-crayola});
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: changeBackground 4s alternate infinite;
  }
}

// because you can't animate linear-gradient
@keyframes changeBackground {
  50% {
    background-position: 100% 50%;
  }
}

.my-description {
  letter-spacing: .25em;
  text-transform: uppercase;
  text-align: center;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  * {
    margin: 16px;
  }
}
