@import "assets/styles/colors";
@import "assets/styles/main-button";
@import "assets/styles/badges";

*:focus {
  outline: none;
}

html, body {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
