$main-transition-time: .3s;
$border-transition-time: .1s;
$offset: -4px;
$border-size: 2px;
$offset-plus-border-size: $offset - $border-size;

.main-button {

  --offset: -4px;
  --border-size: 2px;

  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #{$chrome-yellow};
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border: #{$border-size} solid #{$chrome-yellow};
  border-radius: 0;
  transition: #{$main-transition-time} ease;
  transition-delay: #{$border-transition-time};

  &::before {
    content: '';
    position: absolute;
    background: transparent;
    top: #{$offset-plus-border-size};
    bottom: #{$offset-plus-border-size};
    left: #{$offset-plus-border-size};
    right: #{$offset-plus-border-size};
    border: #{$border-size} solid #{$chrome-yellow};
    transition: #{$border-transition-time} ease;
  }

  &:hover {
    box-shadow: inset 0 0 0 2.5em #{$chrome-yellow};
    color: #{$white};
    &::before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

}
